services:
  mysql:
    image: mysql:8.0
    container_name: code-connect-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: code_connect
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql_data:

